


.game-over-modal {
  margin-top: 10%;
  border-radius: 0px;
}

.modal.header{
  background-color: #160F30;
  color: #EAE7AF;
  border-radius: 0px;
}

.modal.body{
  background-color: #241663;
  color: #EAE7AF;
  border-radius: 0px;
}

.modal.footer{
  background-color: #160F30; 
  border-radius: 0px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.modal-content {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-header {
  background-color: #160f30;
  color: #eae7af;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.2rem;
}

.close-button {
  background: none;
  border: none;
  color: #eae7af;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 16px;
}

.explanation-text {
  font-size: 1rem;
}

.modal-footer {
  background-color: #160f30;
  padding: 12px;
  text-align: right;
}

.next-question-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .game-over-modal {
    margin-top: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .game-over-modal {
    margin-top: 10%;
  }
}
