body {
  background-color: #160F30;
}
.trivia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn-close{
  color:#EAE7AF;
}



.game-over-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height of the modal to the full viewport height */
  margin: 0; /* Remove default margin */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-title {
  font-size: 2em;
  margin-bottom: 20px;
 color:#EAE7AF; 
}

.game-card {
  width: 100%;
  max-width: 1000px;
  background-color:#241663;
}

.score-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color:#EAE7AF;
}

.hints-passes {
  font-size: 1em;
  margin-bottom: 20px;
  color:#EAE7AF;
}

.question-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color:#EAE7AF;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-button {
  flex: 1 0 48%; /* Adjust as needed */
  font-size: 1em;
}

.game-over-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-button {
  flex: 1 0 48%;
  font-size: 1em;
  background-color: #0F4C75;
  color: #EAE7AF;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #0056b3;
}

.timer{
  color:#EAE7AF;
}

.action-buttons {
  display: flex;
  flex-wrap: space-between;
  gap: 10px;
  margin-top:10px;
}

.hint-pass-button {
  flex: 1 0 48%;
  font-size: 1em;
  background-color: #57007E;
  color:#EAE7AF;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hint-pass-button:hover {
  background-color: #7303a7;
  color:#EAE7AF;
}

.answer-status {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
